<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
        <div class="errormessages"></div>
        <input type="hidden" name="categoryid" id="categoryid" value="0">
        <input type="text" name="categoryname" id="categoryname">
        <button id="savecategory">Save Category</button>
</body>
<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/categories.js"></script>
</html>